<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snapgram</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        <div class="left">
            <!-- Image Section -->
            <div class="image">
                <img src="/img/img.png" alt="Sample Image">
            </div>
            <!-- Login Form -->
             <div class="right">   
                <div class="form-container">
                <h2>Welcome Back! </h2>
                <form action="/login" method="post">
                    <p> phone</p>
                    <input type="text" placeholder="" required name="phone">
                    <p>Password</p>
                    <input type="password" placeholder="" required name="password">
                    <br><br>    <br>
                    <button type="submit">Login</button>
                    <p>Don't have an account?<a href="/signup">Register here</a> </p>
                </form>
            </div>   </div>
            
        </div>
    </div>
</body>
</html>
