.header{
    height: 30vh;
    width: 100vh;
}
.feed{
    height: 70vh;
}
.profile-image{
    width: 20%;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;
}
.profile-image img{
    width: 43%;
    border-radius: 50%;
}